In [1]:
#1 Series
import pandas as pd
import numpy as np

# Series --> pd.Series

In [9]:
x = pd.Series([00,11,22,33,44,55])
print(x.values)
print(x.index)
print(x)

[ 0 11 22 33 44 55]
RangeIndex(start=0, stop=6, step=1)
0     0
1    11
2    22
3    33
4    44
5    55
dtype: int64

In [12]:
x2 = pd.Series([000,111,222,333,444,555], index=['A','B','C','D','E','F'])
print(x2)

A      0
B    111
C    222
D    333
E    444
F    555
dtype: int64

In [14]:
x2*100

A        0
B    11100
C    22200
D    33300
E    44400
F    55500
dtype: int64

In [32]:
x2['A']=np.NaN

In [34]:
pd.isnull(x2)

A     True
B    False
C    False
D    False
E    False
F    False
dtype: bool

In [35]:
dict1 = {'Year':[2017,2019,2017,2018,2019],
         'City':['Bang','HYD','Mumbai','Chennai','Bang'],
         'Pop':[2.5,1.5,2.0,1.3,1.6]    
}

In [37]:
#series from dict
x3 = pd.Series(dict1)
print(x3)

Year        [2017, 2019, 2017, 2018, 2019]
City    [Bang, HYD, Mumbai, Chennai, Bang]
Pop              [2.5, 1.5, 2.0, 1.3, 1.6]
dtype: object

In [92]:
#Reindexing -->rearrange index
x3 = pd.Series([222,111,333,000], index=['C','B','D','A'])
x4 = x3.reindex(['A','B','C','D','E'])
x5 = x3.reindex(['A','B','C','D','E'],fill_value=0)
print(x3)
print("\n")
print(x4)
print("\n")
print(x5)

C    222
B    111
D    333
A      0
dtype: int64


A      0.0
B    111.0
C    222.0
D    333.0
E      NaN
dtype: float64


A      0
B    111
C    222
D    333
E      0
dtype: int64

In [9]:
#ffill, bfill
s1 = pd.Series(['Blue','Red','Green'], index=[0,2,4])
s2 = s1.reindex(range(6), method='ffill')
print(s1)
print("\n")
print(s2)

0     Blue
2      Red
4    Green
dtype: object


0     Blue
1     Blue
2      Red
3      Red
4    Green
5    Green
dtype: object

In [13]:
#drop
s3 = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
s4 = s3.drop(['c', 'd'])
print(s3)
print("\n")
print(s4)

a    0
b    1
c    2
d    3
e    4
dtype: int32


a    0
b    1
e    4
dtype: int32

In [39]:
#Arithmetic and data alignment
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [52]:
df1 = pd.DataFrame(np.arange(12).reshape((3, 4)), columns=list('abcf'))
df2 = pd.DataFrame(np.arange(20).reshape((4, 5)), columns=list('abcde'))
print(df1)
print("\n")
print(df2)
print("\n")
print(df1+df2)
print("\n")
print(df1.add(df2, fill_value=0))

   a  b   c   f
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11


    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19


      a     b     c   d   e   f
0   0.0   2.0   4.0 NaN NaN NaN
1   9.0  11.0  13.0 NaN NaN NaN
2  18.0  20.0  22.0 NaN NaN NaN
3   NaN   NaN   NaN NaN NaN NaN


      a     b     c     d     e     f
0   0.0   2.0   4.0   3.0   4.0   3.0
1   9.0  11.0  13.0   8.0   9.0   7.0
2  18.0  20.0  22.0  13.0  14.0  11.0
3  15.0  16.0  17.0  18.0  19.0   NaN

# DataFrame --> pd.DataFrame

In [44]:
#create df
df = pd.DataFrame(dict1)
df

   Year     City  Pop
0  2017     Bang  2.5
1  2019      HYD  1.5
2  2017   Mumbai  2.0
3  2018  Chennai  1.3
4  2019     Bang  1.6

In [70]:
#rearrange columns
df2 = pd.DataFrame(dict1, columns=['Pop','City','Year','Traffic'], index=['zero0','one1', 'two2', 'three3', 'four4'])
df2['Traffic'] = np.arange(5.)
df2

        Pop     City  Year  Traffic
zero0   2.5     Bang  2017      0.0
one1    1.5      HYD  2019      1.0
two2    2.0   Mumbai  2017      2.0
three3  1.3  Chennai  2018      3.0
four4   1.6     Bang  2019      4.0

In [65]:
#retrieve data dict-like notation or by attribute:
print(df2['Year'], '\n')   #Columns retrive1
print(df2.Year)      #Columns retrive2

zero0     2017
one1      2019
two2      2017
three3    2018
four4     2019
Name: Year, dtype: int64

zero0     2017
one1      2019
two2      2017
three3    2018
four4     2019
Name: Year, dtype: int64

In [66]:
#row based retrive1
print(df2.loc['two2'])
print("\n")
print(df2.iloc[1])

Pop             2
City       Mumbai
Year         2017
Traffic       NaN
Name: two2, dtype: object


Pop         1.5
City        HYD
Year       2019
Traffic     NaN
Name: one1, dtype: object

In [73]:
#delete columns
del df2['Traffic']
df2

        Pop     City  Year
zero0   2.5     Bang  2017
one1    1.5      HYD  2019
two2    2.0   Mumbai  2017
three3  1.3  Chennai  2018
four4   1.6     Bang  2019

In [75]:
df2.columns

Index(['Pop', 'City', 'Year'], dtype='object')

In [78]:
#Normal df
print(df2)

print("\n")

#transpose df
print(df2.T)

        Pop     City  Year
zero0   2.5     Bang  2017
one1    1.5      HYD  2019
two2    2.0   Mumbai  2017
three3  1.3  Chennai  2018
four4   1.6     Bang  2019


     zero0  one1    two2   three3 four4
Pop    2.5   1.5       2      1.3   1.6
City  Bang   HYD  Mumbai  Chennai  Bang
Year  2017  2019    2017     2018  2019

In [80]:
df2.values

array([[2.5, 'Bang', 2017],
       [1.5, 'HYD', 2019],
       [2.0, 'Mumbai', 2017],
       [1.3, 'Chennai', 2018],
       [1.6, 'Bang', 2019]], dtype=object)

In [96]:
#reshape numpy
df4= pd.DataFrame(np.arange(16).reshape((4,4)), index=['Bang', 'Chennai', 'HYD', 'Mum'], columns=['A','B','C','D'] )
df4

          A   B   C   D
Bang      0   1   2   3
Chennai   4   5   6   7
HYD       8   9  10  11
Mum      12  13  14  15

In [16]:
#drop columns and rows in DF
df5= pd.DataFrame(np.arange(16).reshape((4,4)), index=['Bang', 'Chennai', 'HYD', 'Mum'], columns=['A','B','C','D'] )
df6 = df5.drop(['Mum']) #deleting rows
df7 = df5.drop(['D'], axis=1) #deleting columns
print(df5)
print("\n")
print(df6)
print("\n")
print(df7)

          A   B   C   D
Bang      0   1   2   3
Chennai   4   5   6   7
HYD       8   9  10  11
Mum      12  13  14  15


         A  B   C   D
Bang     0  1   2   3
Chennai  4  5   6   7
HYD      8  9  10  11


          A   B   C
Bang      0   1   2
Chennai   4   5   6
HYD       8   9  10
Mum      12  13  14

In [22]:
df5= pd.DataFrame(np.arange(16).reshape((4,4)), index=['Bang', 'Chennai', 'HYD', 'Mum'], columns=['A','B','C','D'] )
df5

          A   B   C   D
Bang      0   1   2   3
Chennai   4   5   6   7
HYD       8   9  10  11
Mum      12  13  14  15

In [35]:
print(df5.ix['Bang'])
print(df5[['C', 'B','D']])

A    0
B    1
C    2
D    3
Name: Bang, dtype: int32
          C   B   D
Bang      2   1   3
Chennai   6   5   7
HYD      10   9  11
Mum      14  13  15

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [24]:
print(dir(pd.DataFrame))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_compare_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_expand_axes', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_getitem_array', '_getitem_column', '_getitem_frame', '_getitem_multilevel', '_getitem_slice', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_dict', '_init_mgr', '_init_ndarray', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_blocks', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'blocks', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'consolidate', 'convert_objects', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_csv', 'from_dict', 'from_items', 'from_records', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'is_copy', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'ix', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sortlevel', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_panel', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']