In [1]:
#1. Spark Session 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Suri_PySpark_Practice").config("Key","value").getOrCreate()
#spark = SparkSession.builder.appName("Suri_PySpark_Practice").config(conf=SparkConf()).getOrCreate()    --for default configuration

In [17]:
#2A. Setting our own configurations. For multithreading use -->setMaster'='local[2]' 
conf = spark.sparkContext._conf.setAll([('spark.executor.memory', '4g'), ('spark.app.name', '****R101100****'), ('spark.executor.cores', '4'), ('spark.cores.max', '4'), ('spark.driver.memory','4g'), ('setMaster', 'local[2]')])
#2B. Printing all used configurations    #sc._conf.getAll()
sc.getConf().getAll()

[('spark.app.name', '****R101100****'),
 ('spark.driver.memory', '4g'),
 ('spark.executor.memory', '4g'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.port', '57853'),
 ('spark.app.id', 'local-1564077931574'),
 ('setMaster', 'local[2]'),
 ('Key', 'value'),
 ('spark.executor.cores', '4'),
 ('spark.cores.max', '4'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.driver.host', '192.168.76.1'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

In [3]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

In [4]:
# Create pandas DF , Spark DF , temp view 
dict1 = {"Name": ["A","B","C","D","E"], "Age":[20,21,23,20,22], "Address":["HYD","Banglore","Chennai","Mumbai","Banglore"]}
import pandas as pd
df1 = pd.DataFrame(dict1)
df2 = spark.createDataFrame(df1)
df2.createOrReplaceTempView("DF2")
df3 = sqlContext.sql("select * from DF2")

In [13]:
df2 = df2.drop("Salary")
df2 = df2.withColumn("Salary_double", (df2["Age"]*1000).cast('double'))
df2 = df2.withColumn("Salary_float", (df2["Age"]*1000).cast('float'))

df2.show()
df3.show()

+----+---+--------+-------------+------------+
|Name|Age| Address|Salary_double|Salary_float|
+----+---+--------+-------------+------------+
|   A| 20|     HYD|      20000.0|     20000.0|
|   B| 21|Banglore|      21000.0|     21000.0|
|   C| 23| Chennai|      23000.0|     23000.0|
|   D| 20|  Mumbai|      20000.0|     20000.0|
|   E| 22|Banglore|      22000.0|     22000.0|
+----+---+--------+-------------+------------+

+----+---+--------+
|Name|Age| Address|
+----+---+--------+
|   A| 20|     HYD|
|   B| 21|Banglore|
|   C| 23| Chennai|
|   D| 20|  Mumbai|
|   E| 22|Banglore|
+----+---+--------+

In [105]:
df2 = df2.withColumn("Salary", col("Age")*1000)
df2.show()
df3.show()

+----+---+--------+------+
|Name|Age| Address|Salary|
+----+---+--------+------+
|   A| 20|     HYD| 20000|
|   B| 21|Banglore| 21000|
|   C| 23| Chennai| 23000|
|   D| 20|  Mumbai| 20000|
|   E| 22|Banglore| 22000|
+----+---+--------+------+

+----+---+--------+
|Name|Age| Address|
+----+---+--------+
|   A| 20|     HYD|
|   B| 21|Banglore|
|   C| 23| Chennai|
|   D| 20|  Mumbai|
|   E| 22|Banglore|
+----+---+--------+

In [128]:
#Printing list of modules available in perticular package
from pyspark.sql import SparkSession
import pandas as pd
print("++++++++++++++++++++++++++++++++++++ pandas ++++++++++++++")
print(dir(pd))
print("++++++++++++++++++++++++++++++++++++++++++++++++++")
print("++++++++++++++++++++++++++++++++++++ SparkSession ++++++++++++++")
print(dir(SparkSession))
print("++++++++++++++++++++++++++++++++++++++++++++++++++")

++++++++++++++++++++++++++++++++++++ pandas ++++++++++++++
['Categorical', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'ExcelFile', 'ExcelWriter', 'Expr', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int64Index', 'Interval', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseSeries', 'Term', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt64Index', 'WidePanel', '_DeprecatedModule', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p10', '_np_version_under1p11', '_np_version_under1p12', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_tslib', '_version', 'api', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'datetools', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'get_store', 'groupby', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json', 'lib', 'lreshape', 'match', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'parser', 'period_range', 'pivot', 'pivot_table', 'plot_params', 'plotting', 'pnow', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'scatter_matrix', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tools', 'tseries', 'tslib', 'unique', 'util', 'value_counts', 'wide_to_long']
++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++ SparkSession ++++++++++++++
['Builder', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_convert_from_pandas', '_createFromLocal', '_createFromRDD', '_create_from_pandas_with_arrow', '_create_shell_session', '_get_numpy_record_dtype', '_inferSchema', '_inferSchemaFromList', '_instantiatedSession', '_repr_html_', 'builder', 'catalog', 'conf', 'createDataFrame', 'newSession', 'range', 'read', 'readStream', 'sparkContext', 'sql', 'stop', 'streams', 'table', 'udf', 'version']
++++++++++++++++++++++++++++++++++++++++++++++++++

In [122]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Address: string (nullable = true)
 |-- Salary: long (nullable = true)

In [29]:
#read csv file
rain_df = spark.read.csv("File2_Rain.csv", inferSchema=True, header=True)

In [30]:
type(rain_df)

pyspark.sql.dataframe.DataFrame

In [31]:
#rain_df.show(2)
rain_df = rain_df.withColumn("Date", rain_df["Date"].cast("date"))
#rain_df.printSchema()

In [33]:
rain_df.show(5)
rain_df.printSchema()

+----+----+----+----+----+----+----+----+----+-------+----+----+----+----+----+----+----+-------+
|Date|RG01|RG02|RG03|RG04|RG05|RG07|RG08|RG09|RG10_30|RG11|RG12|RG14|RG15|RG16|RG17|RG18|RG20_25|
+----+----+----+----+----+----+----+----+----+-------+----+----+----+----+----+----+----+-------+
|null|2.43|3.36|2.88|2.48|0.78|2.49|2.57|2.93|   3.25|2.38|2.59|2.46|3.06|2.69|3.59|3.17|   3.15|
|null|4.31| 1.4|5.46| 4.8|1.99|5.06|2.48|2.35|   6.48|4.95|5.71|3.57|5.77|3.28|5.77|6.02|    5.6|
|null|6.55|7.35|5.84|6.48|7.57|4.47|7.39|7.31|   5.42|6.58|7.58|5.72|7.47|8.32|9.69|7.66|   7.17|
|null|1.61|1.81| 1.7|1.49|1.11| 1.5|1.56|1.73|   1.18|1.37|1.47|1.33|1.19|1.21|1.52|1.09|   1.34|
|null|5.01|5.88|3.12|5.01|5.09|5.15|5.14|5.01|   5.68|4.01|5.16|4.57| 5.5|5.61|5.62|5.49|   4.89|
+----+----+----+----+----+----+----+----+----+-------+----+----+----+----+----+----+----+-------+
only showing top 5 rows

root
 |-- Date: date (nullable = true)
 |-- RG01: double (nullable = true)
 |-- RG02: double (nullable = true)
 |-- RG03: double (nullable = true)
 |-- RG04: double (nullable = true)
 |-- RG05: double (nullable = true)
 |-- RG07: double (nullable = true)
 |-- RG08: double (nullable = true)
 |-- RG09: double (nullable = true)
 |-- RG10_30: double (nullable = true)
 |-- RG11: double (nullable = true)
 |-- RG12: double (nullable = true)
 |-- RG14: double (nullable = true)
 |-- RG15: double (nullable = true)
 |-- RG16: double (nullable = true)
 |-- RG17: double (nullable = true)
 |-- RG18: double (nullable = true)
 |-- RG20_25: double (nullable = true)

In [1]:
spark.stop()
sc.stop()

# Ruff

In [46]:
# Create pandas DF , Spark DF , temp view 
dict1 = {"Name": ["A","B","C","D","E","F","G","H","I"], "Age":[20,21,23,20,22,19,24,21,20], "Address":["HYD","Banglore","Chennai","Mumbai","Banglore","Mumbai","Chennai","Banglore","HYD"]}
import pandas as pd
df1 = pd.DataFrame(dict1)
df2 = spark.createDataFrame(df1)
df2=df2.withColumn("Salary",toInt(col("Age")*1000))

NameError: name 'toInt' is not defined

In [41]:
df2.crosstab("Age","Address").show()
type(df2)

+-----------+--------+-------+---+------+
|Age_Address|Banglore|Chennai|HYD|Mumbai|
+-----------+--------+-------+---+------+
|         24|       0|      1|  0|     0|
|         20|       0|      0|  2|     1|
|         21|       2|      0|  0|     0|
|         22|       1|      0|  0|     0|
|         23|       0|      1|  0|     0|
|         19|       0|      0|  0|     1|
+-----------+--------+-------+---+------+

pyspark.sql.dataframe.DataFrame

In [ ]:
df2.orderBy("Age").agg({"Salary":"F.sum"}).show()

In [18]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Address: string (nullable = true)
 |-- Salary_double: double (nullable = true)
 |-- Salary_float: float (nullable = true)

In [14]:
sc.getConf().getAll()

[('spark.driver.memory', '4g'),
 ('spark.executor.memory', '4g'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.port', '57853'),
 ('spark.app.id', 'local-1564077931574'),
 ('setMaster', 'local[2]'),
 ('Key', 'value'),
 ('spark.executor.cores', '4'),
 ('spark.cores.max', '4'),
 ('spark.app.name', 'Spark Updated Conf'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.driver.host', '192.168.76.1'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]