In [6]:
#while
x=0
while (x<5):    
    print(x,end="-->>")
    x+=1
else: 
    print("came out")

0-->>1-->>2-->>3-->>4-->>came out

In [9]:
l=[1,2,3,4]
t=(1,2,3,4)
for i in t:
    print(i, end=" -->> ")

1 -->> 2 -->> 3 -->> 4 -->>

In [14]:
d={1:11, 2:22, 3:33, 4:44, 5:{111:1111, 222:2222}}
for i in d:
    print(i, d[i])

1 11
2 22
3 33
4 44
5 {111: 1111, 222: 2222}

In [17]:
l=[1,2,3,4,5,6]
for i in range (len(l)):
    print(l[i], end=" -->>")

1 -->>2 -->>3 -->>4 -->>5 -->>6 -->>

In [22]:
#pyramid
for i in range(1,5):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [26]:
l=[1,2,3,4,5,6]
for i in l:
    if(i==2):
        continue
    else:
        print(i)

1
3
4
5
6

In [27]:
l=[1,2,3,4,5,6]
for i in l:
    if(i==2):
        break
    else:
        print(i)

1

In [28]:
l=[1,2,3,4,5,6]
for i in l:
    if(i==2):
        pass
    else:
        print(i)

1
3
4
5
6

In [35]:
l=[1,2,3,4,5,6]
for i in range(len(l)):
    print(l[i])

1
2
3
4
5
6

In [1]:
#enumerate
l=[000, 111, 222, 333, 444]
for key, value in enumerate(l):
    print(key, value)

0 0
1 111
2 222
3 333
4 444

In [18]:
#zip
question=["Name", "Class", "Address", "Age"]
answer=["Surendra", "Omega-2", "AndhraPradesh", 25]

for x, y in zip(question, answer):
    print("My {0} is {1}".format(x,y))

My Name is Surendra
My Class is Omega-2
My Address is AndhraPradesh
My Age is 25

In [17]:
#sorted(), set()
l=[6,7,3,9,2,0,1,5,8,4,6,3,1,5,9]
print(set(l))
for i in sorted(l):
    print(i, end="-->")
print()
print(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
0-->1-->1-->2-->3-->3-->4-->5-->5-->6-->6-->7-->8-->9-->9-->
[6, 7, 3, 9, 2, 0, 1, 5, 8, 4, 6, 3, 1, 5, 9]

In [21]:
#reversed
l=[6,7,3,9,2,0,1,5,8,4,6,3,1,5,9]
for i in reversed(l):
    print(i, end="-->")

9-->5-->1-->3-->6-->4-->8-->5-->1-->0-->2-->9-->3-->7-->6-->

In [23]:
#range(), xrange()
import sys
z="abcdefghijkl"
x=range(1,10)
print(sys.getsizeof(z))

61

In [29]:
#pyramids, patterns
def pat(n):
    x=1;
    for i in range(0,n):
        for j in range(0, i+1):
            print(x, end=" ")
            x=x+1
        print()
    

pat(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [13]:
print(10<20>5<40>35<50>25)

True

In [18]:
#dictionary working as switch function
def num_2_str(arg):
    dictMap={
        0:'zeRO',
        1:"ONE",
        2:"TWO",
        3:"tHREE"
    }
    return dictMap.get(arg, "N/A")
    
if __name__ =="__main__":
    print(num_2_str(3))

tHREE

In [19]:
car=["TATA", "FORD", "BENZ", "JEEP"]
i=0
while(i<len(car)):
    print(car[i])
    i=i+1

TATA
FORD
BENZ
JEEP

In [21]:
car=["TATA", "FORD", "BENZ", "JEEP"]
for i,x in enumerate(car):
    print(i, x)

0 TATA
1 FORD
2 BENZ
3 JEEP

In [27]:
#itertools, operator, accumulate
import itertools, operator
l1=[0,2,4,6,8]
l2=[1,3,5,7,9]
l3=[10,11,12,13]

print(list(itertools.accumulate(l1)))
print(list(itertools.accumulate(l2, operator.mul)))
print(list(itertools.chain(l1, l2,l3)))

[0, 2, 6, 12, 20]
[1, 3, 15, 105, 945]
[0, 2, 4, 6, 8, 1, 3, 5, 7, 9, 10, 11, 12, 13]

In [30]:
def func():
    yield 1
    yield 6
    yield 3
    
for i in func():
    print(i)

1
6
3